<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClassTable</title>
</head>
<body>
<div>
    {% if user.identity == '学生' %}
        <a href="{% url 'web:studentProfile' %}">返回首页</a>
    {% elif user.identity == '老师' %}
        <a href="{% url 'web:teacherProfile' %}">返回首页</a>
    {% endif %}
</div>
<h1>我的课表</h1>
<table>
    <thead>
        <tr>
            <th>classCode</th>
            <th>className</th>
            <th>classTime</th>
            <th>teacherName</th>
            <th>address</th>
        </tr>
    </thead>
    <tbody>
        {%  for item in find %}
            <tr>
                <td>{{ item.classCode }}</td>
                <td>{{ item.className }}</td>
                <td>{{ item.classTime }}</td>
                <td>{{ item.teacherName }}</td>
                <td>{{ item.address }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>