<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grade</title>
</head>
<body>
<div>
    <a href="{% url 'web:studentProfile' %}">返回首页</a>
</div>
<h1>我的成绩</h1>
<table>
    <thead>
        <tr>
            <th>classCode</th>
            <th>className</th>
            <th>teacher</th>
            <th>Grade</th>
        </tr>
    </thead>
    <tbody>
        {%  for item in find %}
            <tr>
                <td>{{ item.0.classCode }}</td>
                <td>{{ item.1.className }}</td>
                <td>{{ item.1.teacherName }}</td>
                <td>{{ item.0.Grade }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>