<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>teacherProfile</title>
</head>
<body>
<a href="{% url 'web:teacherProfile' %}">
        {{ user.name }}
    </a>
    <a href="{% url 'logout' %}?next={{ request.path }}">
        <button class="btn btn-warning">
        退出
        </button>
    </a>
<ul class="sub">
        <li>
            <a href="{% url 'users:teacherchangepassword' %}">
                <button>修改密码</button>
            </a>
        </li>
        <li>
            <a href="{% url 'users:teacherchange' %}">
                <button>修改信息</button>
            </a>
        </li>
        <li>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="q" value="{{ user.username }}"/>
                <input type="submit"  value="我的课表">
            </form>
        </li>
        <li>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="c" value="{{ user.username }}"/>
                <input type="submit"  value="上传成绩">
            </form>
        </li>
    </ul>

</body>
</html>