<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChangePassword</title>
</head>
<body>
<h1>更改密码</h1>
<div>
    <a href="{% url 'web:studentProfile' %}">返回首页</a>
</div>
<h3>设置新密码</h3>
    <form class="form" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            {% if field.label == 'Password' or field.label == 'Password confirmation' %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
                {% if field.help_text %}
                    <p class="help text-small text-muted">{{ field.help_text|safe }}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">提交</button>
    </form>
</body>
</html>