<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpdataInfomations</title>
</head>
<body>
    <h1>修改信息</h1>
{#    <form class="form" action="" method="POST">#}
{#        {% csrf_token %}#}
{#        <p>姓名:</p><input name="name" type="text" value={{ user.name }}>#}
{#        <p>工号:</p><input name="user_number" type="text" value={{ user.user_number }}>#}
{#        <p>#}
{#            <button type="submit" class="btn btn-primary btn-block">确认修改</button>#}
{#        </p>#}
{#    </form>#}
</body>
</html>